@model DeviceListViewModel

<table class="table">
    <thead>
        <tr>
            <td>Cihaz Id</td>
            <td>Cihaz Adı</td>
            <td>Cihaz Kullanıcısı</td>
            <td></td>
            <td></td>
        </tr>
    </thead>
    <tbody>
        @foreach (Device Device in Model.Devices)
        {
            @if (Model.Devices.Count > 0)
            {

                <tr>

                    <td>@Device.DeviceId</td>
                    <td>@Device.Name</td>
                    <td> @(Device.UserDevices.Count>0 ?"Var":"Yok") </td>
                    <td>
                        <a href="#" class="btn btn-primary btn-sm mr-2">Düzenle</a>
                    </td>
                    <td>
                        <a href="#" class="btn btn-danger btn-sm mr-2">Cihazı Sil</a>
                    </td>
                </tr>
            }
            else//TODO:EKRANA BİR SÜRÜ HATA YAZDIRIYO 
            {
                <div class="alert alert-warning">
                    <h3>Cihaz Bulunmamaktadır./h3>
                </div>
            }

        }


    </tbody>
</table>