<div class="container mt-5">
    <div class="row">
        <div class="col-md-6 offset-md-3 text-center">
            <h1 class="display-4">Erişim Reddedildi</h1>
            <p class="lead">Bu sayfaya erişim izniniz yok.</p>
            <p>Ana sayfaya dönmek için <a href="/">Buraya</a> tıklayın.</p>
        </div>
    </div>
</div>